{% extends 'layout.html'%} {%block head%}
<title>{{ request.path }} ?</title>
<link
  rel="icon"
  href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🔎</text></svg>"
/>
{% endblock head %} {%block body%}
<div class="errorMessage">
  <h1>Ничего не удалось найти</h1>
  <h1 class="textPrimary">{{ request.path }}</h1>
  <h1>простите :(</h1>
  <a href="/" class="btn btnLink"><h3 class="textPrimary">домой</h3></a>
</div>
{% endblock body %}
